.DS_Store
~$*
*.tmp
__pycache__/
*.pyc
.env
playbook/TechInternship_revised0504.pdf
playbook/TechInternship_revised0504.pptx
playbook/TechInternship_usethis0416.pdf
playbook/TechInternship_final ppt.pptx
playbook/TechInternship_finalppt.key
